
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Introduction</th>
        </tr>
    </thead>
    <% @datas.each do |user| %>
      <tbody>
        <tr>
          <th><%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %></th>
          <th> <%= user.name %></th>
          <th><%= user.introduction %></th>
        </tr>
      </tbody>
    <% end %>
</table>