<div class="container">
    <div class="col-xs-12">
      <% if @model == 'user' %>
        <h2>Users search for '<%= @content %>'</h2>
        <%= render 'users', users: @records %>
      <% else @model == 'posts' %>
        <h2>Books search for '<%= @content %>'</h2>
          <%= render 'books', posts: @records %>
      <% end %>
    </div>
</div>
